@charset 'UTF-8';

@import 'bourbon';


// ==========================================================================
//
//   変数
//
// ==========================================================================

// font-family
$font-family: 'Hiragino Sans', 'ヒラギノ角ゴシック', 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', Osaka, Verdana, sans-serif;


// font-size
$font-size-pc: 14px;
$font-size-sp: 12px;


// width
$min-width-sp: 320px;
$min-width-pc: 990px;
$width-pc: 1440px;


// breakpoint
$bp-sp: 'only screen and (max-width: 767px)';
$bp-tb: 'only screen and (min-width: 768px) and (max-width: 1280px)';
$bp-pc: 'only screen and (min-width: 1281px) and (max-width: 1439px)';


// color
$font-color-basic: #1e2f46;


// selection
$selection-background-color: #b3d4fc;
$selection-color: #fff;
$selection-text-shadow: none;


// link
$link-color: inherit;
$link-tap-highlight-color: rgba(0, 0, 0, 0);
$link-text-decoration: none;
