@charset 'UTF-8';


/*--------------------------------------------------------------------------
   u-img
---------------------------------------------------------------------------*/
.u-img {
	&--sp {
		display: none;
	}
}

/* media query -> sp
=================================================================*/
@media #{$bp-sp} {
	.u-img {
		&--pc {
			display: none;
		}
		&--sp {
			display: inherit;
		}
	}
}
