@charset 'UTF-8';
@import '../_import.scss';

/*--------------------------------------------------------------------------
   html
---------------------------------------------------------------------------*/
html {
	// -ms-overflow-style: none;
}

/* media query -> sp
=================================================================*/
@media #{$bp-sp} {
	width: 100%;
	height: 100%;
}




/*--------------------------------------------------------------------------
   head
---------------------------------------------------------------------------*/
head {
	font-family: 'pc';
}


/* media query -> sp
=================================================================*/
@media #{$bp-sp} {
	head {
		font-family: 'sp';
	}
}




/*--------------------------------------------------------------------------
   body
---------------------------------------------------------------------------*/
body {
	min-width: $min-width-pc;
	color: $font-color-basic;
	font-family: $font-family;
	font-size: $font-size-pc;
}


/* media query -> sp
=================================================================*/
@media #{$bp-sp} {
	body {
		width: 100%;
		min-width: $min-width-sp;
		height: 100%;
		font-size: $font-size-sp;
	}
}




/*--------------------------------------------------------------------------
   a
---------------------------------------------------------------------------*/
a {
	color: $link-color;
	outline: none;

	-webkit-tap-highlight-color: $link-tap-highlight-color;

	&:link,
	&:visited {
		text-decoration: $link-text-decoration;
	}
}




/*--------------------------------------------------------------------------
   ul
---------------------------------------------------------------------------*/
ul {
	list-style: none;
}




/*--------------------------------------------------------------------------
   selection
---------------------------------------------------------------------------*/
::-moz-selection {
	background-color: $selection-background-color;
	color: $selection-color;
	text-shadow: $selection-text-shadow;
}

::selection {
	background-color: $selection-background-color;
	color: $selection-color;
	text-shadow: $selection-text-shadow;
}
