@charset 'UTF-8';
@import '../_import.scss';

/*--------------------------------------------------------------------------
   l-grid
---------------------------------------------------------------------------*/
.l-grid {
	box-sizing: border-box;

	@include clearfix;

	&__item {
		display: block;
		box-sizing: inherit;
		float: left;
	}
}

.l-grid__item {
	&--1of2 {
		width: 50%;
	}

	&--1of3 {
		width: 33.33333333%;
	}

	&--1of4 {
		width: 25%;
	}

	&--1of5 {
		width: 20%;
	}

	&--1of6 {
		width: 16.66666666%;
	}
}
