@charset 'UTF-8';
@import '../_import.scss';

/*--------------------------------------------------------------------------
   l-page
---------------------------------------------------------------------------*/
.l-page-wrapper {
	overflow: hidden;
}

.is-loading .l-page-wrapper {
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}



/* media query -> sp
=================================================================*/
@media #{$bp-sp} {
	.l-page-wrapper {
		overflow: hidden;
		width: 100%;
		height: 100%;
	}

	.l-page {
		overflow-x: hidden;
		overflow-y: scroll;
		width: 100%;
		height: 100%;

		-webkit-overflow-scrolling: touch;

		&__header {
			position: fixed;
			top: 0;
			left: 0;
			background-color: #f00;
			height: 80px;
			width: 100%;
		}
		&__main {
			background-color: #0f0;
			height: 1000px;
		}
		&__footer {
			background-color: #00f;
			height: 200px;
		}
	}

	.is-loading .l-page {
		overflow-y: hidden;
	}
}
