@charset 'UTF-8';
@import '../_import.scss';

/*--------------------------------------------------------------------------
   l-wrap
---------------------------------------------------------------------------*/
.l-wrap {
	position: relative;
	width: $width-pc;
	margin: 0 auto;
}



/* media query -> sp
=================================================================*/
@media #{$bp-sp} {
	.l-wrap {
		width: auto;
		padding: 0 20px;
	}
}
